[submodule "themes/yilia"]
	path = themes/yilia
	url = git@github.com:sangmingming/yilia.git
[submodule "themes/apollo"]
	path = themes/apollo
	url = git@github.com:sangmingming/hexo-theme-apollo.git
